includeConfig "$baseDir/params.config"

process.shell = ['/bin/bash','-e']

manifest {
  name = "DTBW"
  version = '0.2'
}

conda.enabled = true

// check if cacheDir = "" needed
singularity {
  autoMounts = 'true'
  singularity.enabled = true
  runOptions = '-B /scratch -B /home --nv'
}

profiles {

   slurm {
     executor {
        name="slurm"
        queueSize = 150
        clusterOptions = '--qos=1day'
        submitRateLimit = '5 sec'
        exitReadTimeout = '30 min'
     }

      process {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        time = '15 min'
        clusterOptions = '--qos=30min'
        memory = '4G'
        errorStrategy = { (task.exitStatus in 137..143 && task.attempt <= 3) ? 'retry' : 'ignore' }

        withName: 'prepare_ligand_sdf' {
          time = '60 min'
          clusterOptions = '--qos=6hours'
        }

        withName: 'diffdock' {
          memory = { task.exitStatus == 137 ? 42.GB * task.attempt : 42.GB }
          clusterOptions = '--qos=1day --gres=gpu:1 --partition=a100,rtx8000 --ntasks=10'
          time = { 6.hour * task.attempt }
          maxRetries = 3
        }

        withName: 'diffdock_single' {
          memory = { task.exitStatus == 137 ? 42.GB * task.attempt : 42.GB }
          clusterOptions = '--qos=6hours --gres=gpu:1 --partition=a100,rtx8000 --ntasks=10'
          time = { 15.min * Math.pow(2, task.attempt) }
          maxRetries = 3
        }
        
        withName: 'tankbind' {
          memory = { task.exitStatus == 137 ? 20.GB * task.attempt : 20.GB }
          time = { 10.min * task.attempt }
          maxRetries = 3
        }
        
        withName: 'p2rank' {
          memory = { task.exitStatus == 137 ? 8.GB * task.attempt : 8.GB }
          time = { 10.min * task.attempt }
          maxRetries = 3
        }
        
        withName: 'vina' {
          cpus = '8'
          memory = { task.exitStatus == 137 ? 8.GB * task.attempt : 8.GB }
          clusterOptions = '--qos=1day'
          time = { 15.min * Math.pow(2, task.attempt) }
          maxRetries = 3
        }

        withName: 'smina' {
          cpus = '8'
          memory = { task.exitStatus == 137 ? 8.GB * task.attempt : 8.GB }
          clusterOptions = '--qos=1day'
          time = { 15.min * Math.pow(2, task.attempt) }
          maxRetries = 3
        }

        withName: 'gnina' {
          memory = { task.exitStatus == 137 ? 8.GB * task.attempt : 8.GB }
          clusterOptions = '--qos=gpu6hours --gres=gpu:1 --partition=a100 --ntasks=10'
          time = { 2.hour * task.attempt }
          maxRetries = 3
        }

        withName: 'ost_scoring' {
          memory = { task.exitStatus == 137 ? 8.GB * task.attempt : 8.GB }
          clusterOptions = { task.attempt < 2 ? '--qos=30min' : '--qos=6hours' }
          time = { 10.min * Math.pow(2, task.attempt) }
          maxRetries = 3
        }
     }
   }
}
