includeConfig "$baseDir/params.config"

process.shell = ['/bin/bash','-e']

manifest {
  name = "DTBW"
  version = '0.1'
}

profiles {

   slurm {
     executor {
        name="slurm"
        queueSize = 100
        clusterOptions = '--qos=1day'
        submitRateLimit = '5 sec'
        exitReadTimeout = '30 min'
     }
     
     process {
        
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        
        time = '30 min'
        clusterOptions = '--qos=30min'
        cpus = '8'
        memory = '2G'
        errorStrategy = 'ignore'
     }
}
