params {

        // input
        pdb_sdf_files           = ""

        alphafold               = "no"
        ref_files               = "$params.pdb_sdf_files"

        naming                  = "default"     // default, other
        receptor_Hs             = "no"          // yes, no
        diffdock_mode           = "batch"       // batch, single

        // tool locations
        diffdock_tool           = "/scicore/home/schwede/GROUP/TeamLIGATE/tools/diffdock_2c7d438/DiffDock"
        vina_tool               = "/scicore/home/schwede/GROUP/TeamLIGATE/tools/vina_1.2.3_linux_x86_64"
        p2rank_tool             = "/scicore/home/schwede/GROUP/TeamLIGATE/tools/p2rank_2.4"
        tankbind_scripts        = "$baseDir/bin/tankbind/"

        // conda containers
        diffdock_conda          = "/scicore/home/schwede/leeman0000/miniconda3/envs/diffdock_20230221"
        meeko_conda             = "/scicore/home/schwede/leeman0000/miniconda3/envs/vina_meeko"
        vina_conda              = "/scicore/home/schwede/leeman0000/miniconda3/envs/vina"
        smina_conda             = "/scicore/home/schwede/leeman0000/miniconda3/envs/smina"

        // singularity images
        tankbind_sing           = "/scicore/home/schwede/GROUP/TeamLIGATE/singularity/qizhipei-tankbind_py38.img"
        gnina_sing              = "/scicore/home/schwede/GROUP/TeamLIGATE/singularity/nmaus-gnina.img"
        adfr_sing               = "/scicore/home/schwede/GROUP/TeamLIGATE/singularity/ADFRsuite.img"
        ost_sing                = "/scicore/home/schwede/GROUP/TeamLIGATE/singularity/registry.scicore.unibas.ch-schwede-openstructure-2.4.0.img"

        // load java
        load_java               = "ml load Java/13.0.2"

        // cluster options: define queues, partions, ... ; not time or memory
        //cpu_options             = { task.attempt < 2 ? '--qos=30min' : '--qos=1day' }
        cpu_options               = "--qos=1day"
        diffdock_options          = "--qos=1day --gres=gpu:1 --partition=a100,rtx8000 --ntasks=10"
        gnina_options             = "--qos=gpu6hours --gres=gpu:1 --partition=a100 --ntasks=10"


        // parameters
        autobox_add             = "10"  // 10 is used for DiffDock baselines for p2rank + smina/gnina
}
