params {

        // input
        dataset                 = "/scicore/home/schwede/leeman0000/datasets/df_entry_ligand_pocket_edia.csv"
        pdb_sdf_dir             = "reference_files"
        //pdb_sdf_files           = "/scicore/home/schwede/leeman0000/projects/LIGATE/test_data/test_output"
        pdb_sdf_files           = "/scicore/home/schwede/GROUP/TeamLIGATE/data/pdbbind_testset/pdb_sdf_files"
        //pdb_sdf_files           = "/scicore/home/schwede/leeman0000/datasets/pdbbind_testset/vina_failed"
        //pdb_sdf_files           = "/scicore/home/schwede/leeman0000/datasets/pdbbind_testset/smina_gnina"

        naming                  = "other"
        receptor_Hs             = "yes"
        diffdock_mode           = "batch"

        // tool locations
        diffdock_tool           = "/scicore/home/schwede/leeman0000/tools/diffdock_2c7d438/DiffDock"
        vina_tool               = "/scicore/home/schwede/leeman0000/tools/vina/vina_1.2.3_linux_x86_64"
        p2rank_tool             = "/scicore/home/schwede/leeman0000/tools/p2rank_2.4"
        tankbind_scripts        = "$baseDir/bin/tankbind/"

        // parameters
        autobox_add             = "10"  // 10 is used for DiffDock baselines for p2rank + smina/gnina

        rmsd_output             = "rmsd_results"
}
