params {
        
        dataset                 = "/scicore/home/schwede/leeman0000/datasets/df_entry_ligand_pocket_edia.csv"
        pdb_sdf_dir             = "reference_files"
        pdb_sdf_files           = "/scicore/home/schwede/leeman0000/projects/LIGATE/test_data/test_output"
        
        diffdock_location       = "/scicore/home/schwede/leeman0000/tools/DiffDock"
        protein_ligand_csv      = "/scicore/home/schwede/leeman0000//projects/LIGATE/test_data/test_output/protein_ligand.csv"
        
        vina_tool               = "/scicore/home/schwede/leeman0000/tools/vina/vina_1.2.3_linux_x86_64"
        
        rmsd_output             = "rmsd_results"
        
        p2rank_tool             = "/scicore/home/schwede/leeman0000/tools/p2rank_2.4"
        
        autobox_add             = "4"
        
        tankbind_scripts        = "$baseDir/bin/tankbind/"

}
